.img-login{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 49px;
}

.backgroundColor{
  --ion-background-color: #041731;
  --background: #041731;
  --color: white;
}

.title-mt{
  margin-top: 75px;
}

.title{
  margin-bottom: 75px;
  margin-top: 32px;
}

.input-box{
  --background: #fff;
  --border-radius: 20px;
  margin-bottom: 15px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  /* height: 35px; */
}

.login-button{
  width: 300px;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 13px;
  height: 48px;

}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  border: 1px solid white;
  -webkit-text-fill-color:black;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* ///////////////////////   HOME PAGE   /////////////////////////// */

Ion-grid{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: none;
  background-color: #041731 !important;
  background: #041731 !important;
  --color: white;
}


.clock-card{
  padding-top: 60px;
  width: 276px;
  height: 276px;
  --background: #041731;
  border-radius: 50% !important;
  /* border: 4px solid #9BA5C4; */
  z-index: 99999 !important;
  ;
}

/* .clock-card-max{
  padding-top: 60px;
  width: 276px;
  height: 276px;
  --background: #041731;
  border-radius: 50% !important;
  border: 4px solid #9BA5C4;
  z-index: 99999 !important;
  ;
} */

.clockTitle{
  font-size: 18px;
  --color: #9BA5C4;
}

.clock{
  font-size: 48px;
  /* color: #9BA5C4; */

}

.text-green{
  color: #AEEFA3;
  --color: #AEEFA3 !important;
}
.green{
  color: #AEEFA3;
  --color: #AEEFA3;
}
.gray{
  color: #9BA5C4;
  --color: #9BA5C4;
}

.clockCardGreen{
  border: 4px solid #AEEFA3;
}
.clockCardGray{
  border: 4px solid #9BA5C4;
}

ion-label{
  display: block;
  text-align: center;
}

/* @media only screen and (max-height: 568px) {
  .centering{
    position: absolute;
    top: -10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 14px;
  }
}

@media only screen and (max-height: 670px) {
  .centering{
    position: absolute;
    top: 80px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 20px;

  }
}

@media only screen and (min-height: 823px) {
  .centering{
    position: absolute;
    top: 190px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 20px;

  }
} */

ion-card {
      margin: 0 auto !important;
}

.logout{
  position:absolute;
  top:0;
  right:0;
  --background: #041731;
  --box-shadow: none;
}

.alert-head.sc-ion-alert-md{
  text-align: center !important;
}

.notification{
  display: relative;
}